:root {
    --primary-light: #E1EDE6;
    --main-font: "Raleway", sans-serif;
    --text-md: 20px;
    --text-dark: #2C2D35;
    --primary-color: #598D66; 
    --primary-dark: #376B44;
    --text-gray: #86928B;
    --text-sm: 18px;
    --font-medium: 500;
    --bg-light: #F4F6F5;
    --primary-medium: #D4E8D9;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body, button {
    font-family: var(--main-font);
}

.wrapper {
    margin: 0 auto;
}
@media (min-width: 1440px) {
    .wrapper {
        max-width: 1110px;
    }
    .header-wrapper{
        max-width: 1110px;
        margin: 0 auto;
    }
    .main-header {
    background-color: var(--primary-light);
    padding: 33px 0 32px 0;
    }
    .nav-link {
        font-size: var(--text-md);
    }
    .hero-content {
        width: 540px;
    }
    .hero-title {
        font-size: 60px;
    }
    .hero-description{
        margin: 20px 0 60px 0;
    }
    .hero-btn {
        padding: 21px 60px;
    }
    .gallery-title {
        font-size: 40px;
    }
    .art-card {
        width: 310px;
    }
    .collection-header h2{
        width: 420px;
        font-size: 40px;
    }
    .collection-text p{
        width: 540px;
    }
    .collection-btn{
        padding: 21px 60px;
    }
    .about-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .about-text{
        margin-top: 45px;
        width: 635px; ;
    }
    .about-text p{
        margin: 20px 0;
    }
    .main-footer{
        display: flex;
        justify-content: space-between;
    }
    .footer-right-section{
        display: flex;
    }
    .footer-nav{
        margin-right: 253px;
    }
    .contact-phone{
        margin: 41px 0 8px 0;
    }
    .art-btn{
        padding: 20px 100px;
    }
    .collection-section{
        background-image: url(assets/glav1440kar.svg);
    }
    .mobile-menu-btn{
        display: none;
    }
    .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .gallery-header {
    display: flex;
    justify-content: space-between;
    margin: 70px auto 30px auto;
    }
    .gallery-filter {
    margin: 0 32px;
    }
    .collection-text p{
    font-size: var(--text-sm);
    font-weight: var(--font-medium);
    }
    .collection-btn{
        margin-top: 40px;
        font-size: var(--text-md);
    }
     .collection-section{
        padding: 70px 0;
    }
    .about-section{
    margin: 70px auto;
    }
    .team-photos img:nth-child(2){
    margin: 0 30px;
    }
    .about-text p{
        font-size: var(--text-sm);
    }
    .footer-divider {
    display: none;
    }
    .footer-item:nth-child(2){
    margin: 0 60px;
    }  
    .footer-item h3{
    color: var(--text-dark);
    font-size: var(--text-md);
    font-weight: var(--font-medium);
    margin-bottom: 6px;
    }
}
@media (min-width: 768px) and (max-width: 1439px){
    .wrapper {
        max-width: 690px;
    }
    .header-wrapper{
        max-width: 690px;
        margin: 0 auto;
    }
    .main-header {
    background-color: var(--primary-light);
    padding: 33px 0 32px 0;
    }
    .nav-link {
        font-size: var(--text-sm);
    }
    .hero img{
        height: 330px;
        width: 380px;
    }
    .hero-title {
        font-size: 40px;
    }
    .hero-description{
        margin: 20px 0 40px 0;
    }
    .hero-btn {
        padding: 18.5px 51.5px;
    }
    .hero-content {
        width: 330px;
    }
    .gallery-title {
        font-size: 30px;
    }
    .art-card {
        width: 290px;
    }
    .art-image{
        width: 290px;
    }
    .art-btn{
        padding: 20px 90px;
        width: fit-content;
    }
    .collection-header h2{
        width: 370px;
        font-size: 30px;
    }
    .collection-btn{
        padding: 18.5px 36.5px;
    }
    .collection-section{
        background-image: url(assets/glav690kar.svg);
    }
    .collection-header img{
        height: 60px;
    }
    .about-text{
        margin-top: 40px;
        width: 690px; ;
    }
    .gallery-title {
        margin-bottom: 30px;
    }
    .about-text p{
        margin-bottom: 30px;
    }
    .contact-info{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .contact-phone{
        margin: 0 0 8px 0;
    }
    .footer-right-section{
        display: flex;
        justify-content: space-between;
    }
    .footer-social-links{
        margin-right: 38px;
    }
    .mobile-menu-btn{
        display: none;
    }
   .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .gallery-header {
    display: flex;
    justify-content: space-between;
    margin: 70px auto 30px auto;
    }
    .gallery-filter {
    margin: 0 32px;
    }
    .collection-text p{
    font-size: var(--text-sm);
    font-weight: var(--font-medium);
    }
    .collection-btn{
        margin-top: 40px;
        font-size: var(--text-md);
    }
     .collection-section{
        padding: 70px 0;
    }
    .about-section{
    margin: 70px auto;
    }
    .team-photos img:nth-child(2){
    margin: 0 30px;
    }
    .about-text p{
        font-size: var(--text-sm);
    }
    .footer-divider {
    display: none;
    }
    .footer-item:nth-child(2){
    margin: 0 60px;
    }
    .footer-item h3{
    color: var(--text-dark);
    font-size: var(--text-md);
    font-weight: var(--font-medium);
    margin-bottom: 6px;
    }
}
@media (min-width: 320px) and (max-width: 767px){
    .wrapper {
        max-width: 290px;
    }
    .header-wrapper{
        max-width: 320px;
    }
    .brand-logo{
        display: flex;
        justify-content: center;
    }
    .nav-link{
        display: none;
    }
    .mobile-menu-btn{
        background: none;
        border: none;
    }
    .nav-container{
        background-color: var(--primary-light);
        justify-content: space-between;
        padding: 19px 15px;
    }
    .hero img{
        display: none;
    }
    header{
        margin-bottom: 60px;
    }
    .hero-title {
        font-size: 30px;
    }
     .hero-description{
        font-size: 14px;
        margin: 20px 0 40px 0;
    }
    .hero-btn {
        padding: 14.5px 29px;
    }
    .gallery-header{
        margin-bottom: 20px;
    }
    .gallery-title{
        margin: 60px 0 20px 0;
    }
    .mobile-gallery-title{
        margin: 30px 0 20px 0;
    }
    .mobile-filter{
        display: none;
    }
    .gallery-filter{
        margin: 0 0 0 20px;
    }
    .art-image{
        width: 250px;
    }
    .art-btn{
        padding: 10px 70px;
        width: fit-content;
    }
    .collection-section{
        background-image: url(assets/glav320kar.svg);
    }
    .collection-header img{
        height: 50px;
    }
    .collection-header h2{
        width: 370px;
        font-size: 24px;
    }
    .collection-text p{
    font-size: 16px;
    font-weight: var(--font-medium);
    }
    .collection-btn{
        margin-top: 10px;
        font-size: var(--text-sm);
        padding: 14.5px 83.5px;
    }
    .collection-section{
        padding: 30px 0;
    }
    .team-image{
        width: 290px;
        height: 286px;
    }
    .about-section{
    margin: 70px auto 94px auto;
    }
    .team-photos img:nth-child(2){
    margin: 0 20px;
    }
    .team-photos{
        margin-top: 20px;
    }
    .about-text p{
        font-size: 16px;
    }
    

    .main-footer {
    flex-direction: column;
    align-items: stretch;
  }

  .contact-info {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
  }

  .contact-details {
    display: none;
  }

  .footer-divider {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 16px;
    gap: 12px;
  }

  .footer-divider .contact-phone {
    font-size: 16px;
    margin-bottom: 8px;
    white-space: nowrap;
    align-self: flex-start;
  }

  .contact-label{
    font-size: 16px;
  }

  .footer-divider .footer-item {
    margin-bottom: 0;
  }

  .footer-item-desktop {
    display: none;
  }

  .footer-item h3 {
    font-size: 16px;
    font-weight: var(--font-medium);
    margin-bottom: 8px;
    color: #222;
  }

  .footer-item a {
    display: block;
    color: #8c9a9e;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 4px;
  }

  .footer-nav {
    width: 100%;
    gap: 12px;
    margin-bottom: 16px;
    justify-content: space-between;
  }
  .footer-item-mobile{
    margin-right: 8px;
  }

  .footer-social-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }

  .footer-social-links::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #C3D1C6;
    margin-bottom: 16px;
    margin-top: 8px;
  }

  .social-icons {
    display: flex;
    gap: 32px;
    margin-bottom: 12px;
  }

  .social-icons img {
    width: 32px;
    height: 32px;
  }

  .footer-copyright {
    color: #8c9a9e;
    font-size: 16px;
    text-align: center;
  }
}

.nav-link {
    color: var(--text-dark);
    text-decoration: none;
    margin-right: 60px;
    font-weight: var(--font-medium);
}
.header-btn {
    border: none;
    background: none;
    cursor: pointer;
}
.nav-container {
    display: flex;
    align-items: center;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-title {
    font-weight: var(--font-medium);
}
.hero-title span {
    color: var(--primary-color);
}
.hero-description {
    color: var(--text-gray);
    font-size: var(--text-sm);
}
.hero-btn {
    font-family: var(--main-font);
    font-size: var(--text-md);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: none;
    font-weight: var(--font-medium);
    cursor: pointer;
}
.hero-btn:hover{
    background-color: var(--primary-dark);
    color: var(--bg-light);
}

.gallery-title {
    font-weight: var(--font-medium);
    color: var(--text-dark);
}
.filter-active {
    padding: 10px 20px;
    color: var(--bg-light);
    font-size: var(--text-md);
    font-weight: var(--font-medium);
    background-color: var(--primary-dark);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.filter-btn {
    padding: 10px 20px;
    color: var(--text-dark);
    font-size: var(--text-md);
    font-weight: var(--font-medium);
    background-color: var(--primary-medium);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.filter-btn:hover{
    background-color: var(--primary-dark);
    color:  var(--bg-light);
}

.art-card {
    background-color: var(--primary-light);
    padding: 20px 20px 30px 20px;
    margin-bottom: 30px;
}
.artist-name {
    font-weight: var(--font-medium);
    font-size: var(--text-sm);
    color: var(--text-gray);
    width: fit-content;
}
.art-title {
    font-weight: var(--font-medium);
    font-size: 30px;
    color: var(--text-dark);
    width: fit-content;
}
.art-medium {
    font-weight: var(--font-medium);
    font-size: var(--text-sm);
    color: var(--text-dark);
    margin-top: 8px;
    margin-bottom: 30px;
    width: fit-content;
}
.art-price {
    font-weight: var(--font-medium);
    font-size: 24px;
    color: var(--primary-color);
    width: fit-content;
}
.art-btn {
    font-weight: var(--font-medium);
    font-size: var(--text-md);
    color: var(--primary-color);
    background: none;
    margin-top: 20px;
    cursor: pointer;
}
.art-btn:hover{
    background-color: var(--primary-dark);
    color:  var(--bg-light);
    border: none;
}
.gallery-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.collection-section{
    color: var(--bg-light);
    background-repeat: repeat-x ;
}
.collection-header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.collection-header h2{
    font-weight: var(--font-medium);
    margin-left: 20px;
}
.collection-text p{
    margin-bottom: 20px;
    line-height: 150%;
}
.collection-btn{
    background-color: #EEDB6D;
    border: none;
    font-weight: var(--font-medium);
    cursor: pointer;
}
.collection-btn:hover{
    background-color: #e7c81c;
    color: var(--bg-light);
}


.about-text p{
    font-weight: var(--font-medium);
    color: var(--text-dark);
    line-height: 150%;
}


footer {
    background-color: var(--primary-light);
    padding: 23px 0;
    font-size: var(--text-sm);
    font-weight: var(--font-medium);
    color: var(--text-gray);
}
.contact-phone{
    font-size: var(--text-md);
    color: var(--text-dark);
}
.footer-nav{
    display: flex;
}
.footer-item a{
    text-decoration: none;
    color: var(--text-gray);
    display: block;
    margin-bottom: 6px;
}
.social-icon{
    margin: 0 23px;
}
.social-icons{
    margin-bottom: 10px;
}
.footer-copyright p{
    font-size: 12px;
    margin-bottom: 6px;
}